$main-color1: #27f591;
$main-color2: #1be7fa;
$main-color3: #FCE38A;
$main-color4: #F38181;

body {
  margin: 0;
  max-width: 100%;
  max-width: 100%;
  background-color: $main-color1;
}

.contentContainer {
  max-width: 100vw;
  max-height: 100vh;
}

.loginForm, .welcomeWrapper{
  flex-direction: column;
  text-align: center;
  display: flex;
  min-height: 25vh;  
  max-width: 100%;
  font-size: 54px;
  margin: 0;
}
#inputName {
  font-size: 64px;
  text-align: center;
}

#loginBtn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 64px;
  margin: 20px;
}

p {
  color: red;
}