.main-div {
    
    display: flex;
   
    justify-content: space-between;
    width: 100%;
}

.play-div {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    .footer-div {
        text-align: center;
    }
    h3 {
        font-size: 2rem;
    }
    span {
        font-size: 1.5rem;
    }
}

.image-div {
    margin-top: 10%;
    margin-left: 20px;
   
}

.image-div td {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    position: relative;
}

.chat-div {
    position: relative; 
}


.grid td {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
}
.grid td.clicked {
background-color: yellow;
font-weight: bold;
color: red;
}


.color-span {
display: block;
width: 15px;
height: 15px;
}
